<!DOCTYPE html>
<html>
<head>
 <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
 <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>
 <div id="app">
  <v-app light>
    <v-navigation-drawer permanent mini-variant>
      
    </v-navigation-drawer>
    <main>
      <v-container>
        <v-layout row wrap>
          <v-flex xs12 md4>
            <div class="profile-info text-xs-center">
              <v-avatar>
                <img
                  class="img-circle elevation-7 mb-1"
                  src="https://raw.githubusercontent.com/vuetifyjs/docs/dev/static/doc-images/lists/1.jpg"
                  width="100px"
                >
              </v-avatar>
              <h4>John <span style="font-weight:bold">Carter</span></h4>
              <h5 class="text-xs-center">Lorem ipsum dolor sit amet</h5>
              <a>Home</a>
              <a>About</a>
              <a>Github</a>
              <a>Other</a>
            </div>
          </v-flex>
          <v-flex xs12 md6>
            <div class="research-list">
              <div class="article-short" v-for="post in posts" :key="post.title">
                <v-card class="my-3">
                  <v-card-media
                    class="white--text"
                    height="200px"
                    :src="post.imgUrl"
                  >
                    <v-container fill-height fluid>
                      <v-layout fill-height>
                        <v-flex xs12 align-end flexbox>
                          <span class="headline">{{ post.title }}</span>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-media>
                  <v-card-text>
                    {{ post.content }}
                  </v-card-text>
                  <v-card-actions>
                    <v-btn flat class="blue--text">Read More</v-btn>
                  </v-card-actions>
                </v-card>
              </div>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </main>
  </v-app>
 </div>
 <script src="https://unpkg.com/vue/dist/vue.js"></script>
 <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
 <script>
   new Vue({
    el: '#app',
    data () {
      return {
        title: 'Your Logo',
        posts: [
          {
            title: 'Fusce ullamcorper tellus sed maximus rutrum',
            content: 'Fusce ullamcorper tellus sed maximus rutrum. Donec imperdiet ultrices maximus. Donec non tellus non neque pellentesque fermentum. Aenean in pellentesque urna. Mauris aliquet elit rutrum lorem fermentum, id lobortis arcu facilisis. Mauris ut justo magna. Vivamus euismod fringilla ornare. Proin gravida nibh eu mi vulputate scelerisque. Aliquam rutrum elementum rhoncus. Nam id ullamcorper ante. ',
            imgUrl: 'https://raw.githubusercontent.com/vuetifyjs/docs/dev/static/doc-images/cards/drop.jpg'
          },
          {
            title: 'Donec vitae suscipit lectus, a luctus diam.',
            content: 'Donec vitae suscipit lectus, a luctus diam. Proin vitae felis gravida, lobortis massa sit amet, efficitur erat. Morbi vel ultrices nisi. Aenean arcu sapien, rutrum nec mollis id, condimentum quis orci. Praesent a rhoncus orci. Praesent turpis turpis, imperdiet id eleifend consequat, placerat a ipsum. Nulla nec massa vitae nisl finibus eleifend convallis ac massa. Etiam sit amet tellus leo. ',
            imgUrl: 'https://raw.githubusercontent.com/vuetifyjs/docs/dev/static/doc-images/cards/docks.jpg'
          },
          {
            title: 'Vestibulum condimentum quam eu est convallis',
            content: ' at sagittis sapien vulputate. Vivamus laoreet lacus id magna rutrum dapibus. Donec vel pellentesque arcu. Maecenas mollis odio tempus felis elementum commodo. Quisque gravida, est quis tincidunt bibendum, nibh elit dapibus mauris, et sagittis purus nibh et lectus. Quisque mattis orci non facilisis tempor. Mauris ligula tellus, commodo sit amet ultrices ',
            imgUrl: 'https://raw.githubusercontent.com/vuetifyjs/docs/dev/static/doc-images/cards/plane.jpg'
          }
        ]
      }
    }
  })
 </script>
</body>
</html>